## # date_tag is YYYYMMDDhhmm
## # branch_tag is either branch 2016.11 or tag v2016.11.1
{% import "auto_setup/tag_build_date.jinja" as bd_cfg %}
{% set date_tag = bd_cfg.date_tag  %}
{% set branch_tag = bd_cfg.branch_tag  %}

## generate branch build versions
{% if branch_tag|first == 'v' %}
{% set build_version_dotted = branch_tag|replace("v", "", 1) %}         ## 2016.11.0
{% set build_version = build_version_dotted|replace(".", "_") %}        ## 2016_11_0
{% else %}
{% set build_version = branch_tag|replace(".", "_") %}                  ## 2016_11
{% endif %}

