{% set build_runas = pillar.get('build_runas', 'builder') %}

# date_tag is passed on command line
{% set date_tag = pillar.get('date_tag', '197001010001') %}

# branch_tag is either branch 2016.11 or tag v2016.11.1
# if tag then assume specifc version
{% set branch_tag = pillar.get('branch_tag', 'develop') %}


## generate build labels
{% set curr_dev_tag = '0' %}

## generate branch build versions
{% if branch_tag|first == 'v' %}
{% set build_specific_tag = True %}                                     ## specific version
{% set build_version_dotted = branch_tag|replace("v", "", 1) %}         ## 2016.11.0
{% set build_version_uscore = build_version_dotted|replace(".", "_") %} ## 2016_11_0
{% set build_version = build_version_dotted|replace(".", "_") %}        ## 2016_11_0
{% else %}
{% set build_specific_tag = False %}                                    ## branch
{% set build_version_dotted = branch_tag ~ '.' ~ curr_dev_tag %}        ## 2016.11.0
{% set build_version_uscore = build_version_dotted|replace(".", "_") %} ## 2016_11_0
{% set build_version = branch_tag|replace(".", "_") %}                  ## 2016_11
{% endif %}


## Get the home and gpg keys directories to use, some tools assume ~/.gnupg
{% if build_runas == 'root' %}
{% set build_homedir = '/' ~ build_runas %}
{% else %}
{% set build_homedir = '/home/' ~ build_runas %}
{% endif %}


## gpg key directory
{% set build_gpg_keydir = build_homedir ~ '/.gnupg' %}


## salt code directory
{% set build_salt_dir = build_homedir ~ '/salt_dir' %}
{% set build_salt_pack_dir = build_homedir ~ '/salt_pack_dir' %}


## rsa files
## state file to setup public and private rsa keys for bld_res_server on minion
## assumes user home /.ssh as destination directory
{% set rsa_priv_key_file = pillar.get('bld_res_server_id_rsa_priv_keyname', None) %}
{% set rsa_pub_key_file = 'bld_res_id_rsa.pub' %}
{% set rsa_pub_key_source_file = 'salt://auto_setup/' ~ rsa_pub_key_file %}

{% set rsa_key_dir = build_homedir ~ '/.ssh' %}
{% set rsa_pub_key_absfile = rsa_key_dir ~ '/' ~ rsa_pub_key_file %}
{% set rsa_priv_key_absfile = rsa_key_dir ~ '/' ~ rsa_priv_key_file %}


## List of minions to perform builds on
{% set minion_debian7 = 'd7mvb' %}
{% set minion_debian8 = 'd8m' %}
{% set minion_raspbian = 'pi2' %}
{% set minion_rhel7 = 'c7m' %}
{% set minion_rhel6 = 'c6m' %}
{% set minion_ubuntu1404 = 'u14m' %}
{% set minion_ubuntu1604 = 'u16m' %}

## local test web server
{% set minion_bldressrv = 'bldressrv' %}
{% set minion_bldressrv_username = 'builder' %}
{% set minion_bldressrv_hostname = 'bld-res-server' %}
{% set minion_bldressrv_rootdir = '/build_res/nightlybuild' %}


